/*------------------------------------------------------------------------------------*/

/*Opciones para la imagen de fondo de la barra de navegación*/
.imagen-carro img{
	height: 50px;
	margin-top:-15px;
}

.cuerpo{
	height: 100%;
}

/*Opciones para el contenedor de imágenes*/
.contenedor-imagen{
	height: 50%;	
	background-image: url("../images/Tendecias Moda.jpg");
	background-repeat: no-repeat;
	background-size: 100% 95%;
	text-align: right;
}

.contenedor-medio{
	height: 44%;
}

.contenedor1{
	height: 100%;
	background-image: url("../images/Mujer.jpg");
	background-repeat: no-repeat;
	background-size: 95% 95%;	
	background-position: center;
}

.contenedor2{
	height: 50%;	
	background-image: url("../images/Modelo.jpg");
	background-repeat: no-repeat;
	background-size: 90% 90%;	
	background-position: center;
}

.contenedor3{
	height: 50%;
	background-image: url("../images/Corbata.jpg");
	background-repeat: no-repeat;
	background-size: 90% 90%;	
	background-position: center;
}

.contenedor-inferior{
	width: 100%;
	height: 6%;
}  

.mov:hover{
	background-color: #ECE7E4;
}

.navbar-color{
	background-color: white;
}

.opcion{
	font-weight: normal;
	color: #000000;
	cursor: pointer;
}

.opcion:hover{
	background-color: #ECE7E4;
}

.contenedores-imagen:hover{
	-webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -o-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    background-color: #666583;
    opacity: 100;
    cursor: pointer;
}

.divprueba{
	border: 1px solid;
	border-color: blue;
}

/*--------------------------------------------------------------------------*/
/*Opciones para el texto y tamaño límite de la imagen principal---------------------------------------*/

.texto-tendencias{
	font: bold 380% Myriad Pro;
}

.texto-moda{
	font: 380% Myriad Pro;
}

/*-----textos de las imagenes-----*/

.texto-conceptos{
	float: left;
	padding-top: 230px;
	padding-left: 30px;
}

.label-texto-conceptos{
	color: white;
	font: 200% Myriad Pro;
	margin: 0;
    position: absolute;
    top: 90%;
    left: 35%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	color: white;
	font: 200% Myriad Pro;
}

.texto-conceptos1{
	float: right;
	padding-top: 230px;
	padding-right: 30px;
}

.label-texto-conceptos1{
	color: white;
	font: 120% Myriad Pro;
	margin: 0;
    position: absolute;
    top: 90%;
    left: 71%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	color: white;
	font: 120% Myriad Pro;
}

.texto-expertos{
	padding-top: 110px;
	text-align: center;
}

.label-texto-expertos{
	margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	color: white;
	font: 120% Myriad Pro;
}

.texto-clientes{
	padding-top: 110px;
	text-align: center;
}

.label-texto-clientes{
	margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	color: white;
	font: 120% Myriad Pro;
}

/*-----------------------------*/

.contenedor-imagen{
	min-height: 255px;
}

.referencia-index{ 
	height: 100px;
	cursor: pointer;
}

/*Opciones para la barra de navegación--------------------------------------*/

/*Opciones para pantallas inferiores a 992px*/
@media screen and (max-width: 992px) {
	.texto-tendencias{
		font: bold 350% Myriad Pro;
	}

	.texto-moda{
		font: 350% Myriad Pro;
	}

	.contenedor-imagen{
		min-height: 245px;
		max-height: 45%;
	}
}

/*Opciones para pantallas superiores a 768px*/
@media screen and (min-width: 768px){
	.show{
		display: none !important;
	}

	.hide{
		display: block !important;
	}

	.imagen-barra img{
		width: 100%; /*Responsive de imagen de la opcion*/
		height: auto;
		margin: 0;
	    position: absolute;
	    top: 150%;
	    left: 100%;
	    -ms-transform: translate(-50%, -50%);
	    transform: translate(-100%, -50%);
	}
}

/*Opciones para pantallas inferiores a 767px*/
@media screen and (max-width: 767px){
	.hide{
		display: none !important;
	}	

	.show{
		display: block !important;
	}

	.imagen-barra img{
		width: 130%; /*Responsive de imagen de la opcion*/
		height: 235%;
		margin: 0;
	    position: absolute;
	    top: 115%;
	    left: 120%;
	    -ms-transform: translate(-50%, -50%);
	    transform: translate(-100%, -50%);
	}

	.referencia-index{
		display: none;
	}

	.navbar{
		background-color: transparent;
		border-color: transparent;
		background: transparent;
	}

	.navbar li{
		background-color: #fff;
		border-color: transparent;
	}
}

/*Opciones para pantallas inferiores a 768px*/
@media screen and (max-width: 768px) {
	.texto-tendencias{
		font: bold 300% Myriad Pro;
	}

	.texto-moda{
		font: 300% Myriad Pro;
	}

	.label-texto-conceptos{
		font: 120% Myriad Pro;
	}

	.label-texto-conceptos1{
		font: 100% Myriad Pro;
	}

	.contenedor-imagen{
		min-height: 230px;
		max-height: 230px;
	}

	.contenedor-medio{
		min-height: 340px;
	}

}

/*Opciones para pantallas inferiores a 480px*/
@media screen and (max-width: 480px){
	.texto-tendencias{
		font: bold 200% Myriad Pro;
	}

	.texto-moda{
		font: 200% Myriad Pro;
	}

	.label-texto-conceptos{
		left: 28%;
		font: 80% Myriad Pro;
	}

	.label-texto-conceptos1{
		font: 70% Myriad Pro;
	}

	.label-texto-expertos{
		font: 80% Myriad Pro;
	}

	.label-texto-clientes{
		font: 80% Myriad Pro;
	}

	.referencia-index{
		display: none;
	}

	.imagen-barra img{
		width: 170%; /*Responsive de imagen de la opcion*/
		height: 250%;
		margin: 0;
	    position: absolute;
	    top: 120%;
	    left: 160%;
	    -ms-transform: translate(-50%, -50%);
	    transform: translate(-100%, -50%);
	}

	.contenedor-imagen{
		min-height: 200px;
		max-height: 200px;
	}

	.contenedor-medio{
		min-height: 270px;
	}
}