/*Opciones para todos los tamaños de pantallas------------------------------------------------------------------*/
body{
	/*Comandos para el fondo del home*/
	background-image: url("../images/FondoOpacidad.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color:#464646;

	/*comandos para que no se pueda seleccionar el texto*/
	-webkit-user-select: none; 
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.contenedor-opcion{
	text-align: center; /*Opciones iniciales para el contenedor de las opciones*/ 
}

/*Efectos para las opciones al cruzar el ratón por encima*/
.contenedor-imagen:hover{
	-webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -o-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    background-color: #666583;
    opacity: 100;
}

.contenedor-seccion-mapa a p{
	
	font-weight: bold;
}


/*--------------------------------------------------------------------------------------------------------------*/



/* Opciones exclusivas para pantallas inferiores a 768 px ---------------------------------------------- */
.cuerpo{
		height: 100%;
}


/* Color del título, tamaño y tipo de letra */
.titulo{
	font: bold 500% BreeSerif;
	color: white;
}


.contenedor-imagen{
	width: 100%;
	height: 15%;
	background-color: #302E69;
	opacity: 0.3;
	box-sizing: border-box; 
}

.texto-opcion{
	color: white;
	font: 100% Corbel;
	cursor: pointer;
	width: 100%;
	height: auto;
}

.texto-opcion:hover{
	/*Efectos para cuando se pase el ratón sobre cada texto de opción*/
	font: bold 100% Corbel;	
}

/* Estilito para hacer que la imagen sea responsive*/
.imagen-opcion{
	width: 40%;
	height: auto;
}

/*-------------------------------------------------------------------------------------------------------*/


/* Opciones exclusivas para pantallas de tamaño superior a 768 pixeles  ---------------------------------------*/
@media screen and (min-width: 768px) {

	.titulo{
		font: bold 670% BreeSerif; /*Tamaño y tipo de letra para el título*/
	}

	header{
		height: 20%;	/*El header se la da 20% para separarlo de la parte superior*/
	} 

	.contenedor-imagen{
		width: 100%; /*Características de los contenedores de las imágenes*/
		height: 25%;
		background-color: #302E69;
		opacity: 0.3;
	}
 

	.texto-opcion{
		font: 120% Corbel; /*Tamaño texto de las opciones*/
	}  

	.cuerpo{
		height: 80%; /*Tamaño del cuerpo de la página, complementa el header que tenía 20%*/
	}

	.imagen-opcion{
		width: 100%; /*Responsive de imagen de la opcion*/
		height: auto;
	}

	.texto-opcion:hover{
		/*Efectos para cuando se pase el ratón sobre cada texto de opción*/
		font: bold 120% Corbel;	
	}

	
}

/*-----------------------------------------------------------------------------------------------------------------*/


/* Opciones para el trabajo del mapa del sitio en los tamaños apropiados de pantalla------------------------------------------*/
@media screen and (max-width: 991px){
	.hide{
		display: block !important; 
	}

	.show{
		display: none !important;
	}
}

@media screen and (min-width: 992px){
	.show{
		display: block !important;
	}

	.hide{
		display: none !important;
	}
}
/*------------------------------------------------------------------------------------------------------------------------------*/