.boton_webcam{
	width: 10em;
	color: white;
}

.boton_grabadora{
	width: 11em;
	color: white;
}
/*Opciones para pantallas inferiores a 767px*/
@media screen and (max-width: 767px){
	
}

/*Opciones para pantallas superiores a 768px*/
@media screen and (min-width: 768px){
	
}

